<!-- Loop over each object in the blogposts array -->
<h2 class="mt-5 mb-5 ml-5">Welcome, {{name}}!</h2>
<h2 class="mt-5 mb-5 ml-5">Latest Blog Posts:</h2>
<div class="container container-fluid mt-5">

{{#each blogposts as |blog| }}
<div class="row mb-4">
  <div class="col-md-5">
    <h2>
      <a href="/api/blog/edit/{{blog.id}}">{{blog.blog_title}}</a>
    </h2>
    <p>Created by {{blog.author.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.blog_content}}
    </p>
  </div>
</div>
{{/each}}

<a href="/api/blog"><button class="btn btn-primary">Create New Blog Post</button></a>

</div>














  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
</div>


